---
import MainLayout from "@layouts/MainLayout.astro";
import Article from "@components/Article.astro";
import SearchForm from "@components/SearchForm.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const articles: CollectionEntry<"blog">[] = (await getCollection("blog")).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<MainLayout title="Articles">
  <div class="p-3 text-center">
    <SearchForm value={""} />
  </div>

  <div class="grid md:grid-rows-2 md:grid-cols-3 gap-5">
    {articles.map((article) => <Article content={article} />)}
  </div>
</MainLayout>
