---
import MainLayout from "../../layouts/MainLayout.astro";
import type { CollectionEntry } from "astro:content";
import SearchForm from "../../components/SearchForm.astro";
import Article from "../../components/Article.astro";
import { getCollection } from "astro:content";

const articles: CollectionEntry<"blog">[] = await getCollection("blog");

const query: string | null = Astro.url.searchParams.get("query");

const searchResults = articles.filter((v) =>
  v.data.title.toLowerCase().includes(query!.toLowerCase()),
);
---

<MainLayout title="Search">
  <div class="p-3 text-center">
    <SearchForm value={query} />
  </div>

  {
    !searchResults.length && (
      <h1 class="mt-10 text-4xl text-center">
        No articles have been found for the search criteria
        <span class="font-bold">{query}</span>
      </h1>
    )
  }

  <div class="grid md:grid-rows-2 md:grid-cols-3">
    {searchResults.map((article) => <Article content={article} />)}
  </div>
</MainLayout>
