---
import MainLayout from "../layouts/MainLayout.astro";
import Article from "../components/Article.astro";
import MostRecentArticle from "../components/MostRecentArticle.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const articles: CollectionEntry<"blog">[] = (await getCollection("blog")).sort(
	(a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
		b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const mostRecentArticle: CollectionEntry<"blog"> = articles[0];
const restArticles: CollectionEntry<"blog">[] = articles.slice(1);
---

<MainLayout title="AstroJS Blog">
	<div class="grid grid-cols-1 gap-5 lg:grid-cols-2 p-5">
		<div>
			<h1 class="text-5xl mt-4 mb-8 leading-tight text-center">
				Articles, Stories & Tutorials for Tech People
			</h1>
		</div>

		<MostRecentArticle article={mostRecentArticle} />
	</div>

	<div class="grid md:grid-rows-2 md:grid-cols-3 gap-5">
		{restArticles.map((article) => <Article content={article} />)}
	</div>
</MainLayout>
